body {background-color:#c0c0c0;
}

#contact_form
{
    display: none;
    margin-top: 10px;
}

#submitButton
{
    display: none;
}


#addLink
{
    display: none;
}


#removeLink
{
    display: none;
}

#myModal
{
   /* height: 300px;
    width:  450px;*/
}

#ips
{
    display: none;
    margin: auto;
    width: 900px;

    z-index: 0;
}

#shadow
{
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    
}


#success_div
{
    display: none;
}


#question
{
  display: :none;
  margin-top: 10px;
}

#fileupload
{
    z-index:3;
    display: none;
}


#form3
{
  z-index:3;
  display: none;

}

#links_form
{
  display: none;
}

#skill_form
{

  display: none;
}

#linkList
{
  /*  float: right;
    margin-top: -50px;
    overflow: auto;
    height: 100px;
    width: 150px; 
    overflow-y: scroll; */
    margin-left: 10px;
}

/*#list
{
    float: left;
}
*/
#letter_form
{
  display: none;
}
#choice
{
    margin-top:40px;
    display: none;
}
#meetingForm
{
    display: none;
}

#quest_row
{
    background-color: #eee;
}

#quest_row:hover
{
    background-color: #ccc;
    cursor:pointer;
}

#ajaxBusy {
  display: none;
  text-align: center;
  background: url(images/ajax-loader.gif) no-repeat center center;

}


#quest_title
{
    z-index:3;
    width:50px;
    height:40px;
}

#quest_container
{
    float: left;
    width:200px;
}

#quest_info
{
    width:150px;
    float: left;
    margin-left:50px;
}

#questlog
{
    z-index:3;
    width:400px;
    height:200px;
    position:absolute;
    background-color:#eee;
    border:1px solid #0F0;
    left:50%;
    top:50%;
    padding:15px;
    margin:-100px 0 0 -150px;
    display: none;
}

#id_attachment
{
    display: none;
}

#id_entry
{
    display: none;
    height: 200px;
}

#cv_form
{
	display: none;
}


#id_answer
{
    width: 350px;
    height: 150px;
    display: none;
}


#question_form
{
    display: none;
}

#container
{
    margin-top: 20px;
}

#cr-stage
{
	margin: auto;
    z-index: 0;
}



#alert-success
{
    width:50px;
    height:10px;
    margin: auto;
    margin-top: -24%;
    position:relative;
    display: none;
    
}
