<!DOCTYPE html>
<head>
    <script type="text/javascript" src="/static/crafty.js"></script>
    <script type="text/javascript" src="/static/game.js"></script>
    <script type="text/javascript">
	function performClick(node) {
	   var evt = document.createEvent("MouseEvents");
	   evt.initEvent("click", true, false);
	   node.dispatchEvent(evt);
	}
</script>

<input type="file" id="theFile" />
    <title>My Crafty Game</title>
    <style>
    body, html { margin:0; padding: 0; overflow:hidden; font-family:Arial; font-size:20px }
    #cr-stage { border:2px solid black; margin:5px auto; color:white }
    </style>
</head>
<body>
</body>
</html>
