<!DOCTYPE html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script type="text/javascript" src="/static/crafty.js"></script>
    <script type="text/javascript" src="/static/player.js"></script>
    <script type="text/javascript" src="/static/craftyquestlog.js"></script>
    <script type="text/javascript" src="/static/npc.js"></script>
    <script type="text/javascript" src="/{{instance_id}}/game.js"></script>
    <script type="text/javascript" src="/{{instance_id}}/playerdata.js">
    </script>

</head>
<body>

<div class="container" id="container">

    {% block letters %}

    {% if has_motivation_letter == False %}
    <div class="letter">

        <table>
        {% for error in letter.errors %}
        {{error}}
        {% endfor %}
         
        {{letter.as_table}}
      
        </table> 
         <button id="letterbutton"  type="button" onclick="sendMotivation()">Send motivation</button>
         <!--<div id="success_div" name="response">Response will be placed here on submit.</div>-->
    </div>
    {%endif%}

    {% endblock %}


    <div class="Choice" id="choice">
        <button id="freeformbutton" type="button" onclick="freeForm()">Free From</button>
        
        <button id="uploaddocumentbutton" type="button" onclick="uploadDocument()">Upload document</button>

    </div>



{% block contact %}
{% if 'no' == has_contact_info %}
<div class="form" id="form">

<form enctype="multipart/form-data" method="post" name="myinfo" 
    id="myinfo" >
    
    <table>
    {{ contact_info.as_table }}
    
    {% for error in contact_info.errors %}
    {{error}}
    {% endfor %}
    
    </table> 
    
    <button id="contactButton" type="button" onclick="sendContactInfo()">Submit contact</button>
    <!--<div id="info_div" name="response">Response will be placed here on submit.</div>-->
</form>
</div>
{%endif%}

{% endblock %}

{% block upload %}
{% if has_cv == False %}
 <div class="form2" id="form2">

<form2 enctype="multipart/form-data" method="post" name="myform" 
    id="myform" action= "/submitfile/{{instance_id}}/">
    
    <table>
    {{ form.as_table }}
    
    {% for error in form.errors %}
    {{error}}!
    {% endfor %}
    
    </table> 
    
    <button type="button" id="cvButton" onclick="sendFiles(id_document)">Send CV</button>
</form2>

<div id="success_div" name="response">Response will be placed here on submit.</div>

{%endif%}
{% endblock %}
</div>

</div>

 <div id="questlog" class="questlog">

    <div id="quest_title" class="quest_title">
        Questlog
    </div>

    <table id="quest_container" class="quest_container">

       
    </table>
    <div id="quest_info">info of quest


    </div>

    </div>

<div id="cr-stage">

</div>

</body>
</html>
