<!DOCTYPE html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script type="text/javascript" src="/static/crafty.js"></script>
    <script type="text/javascript" src="/{{instance_id}}/game.js"></script>
    <script type="text/javascript" src="/{{instance_id}}/playerdata.js">
    </script>

</head>
<body>

{% block contact %}
 

<div class="container">

{% if 'no' == has_contact_info %}
    <div class="form">

<form enctype="multipart/form-data" method="post" name="myform" 
    id="myinfo" >
    
    <table>
    {{ contact_info.as_table }}
    
    {% for error in contact_info.errors %}
    {{error}}
    {% endfor %}
    
    </table> 
    
    <button type="button" onclick="sendContactInfo()">Submit contact</button>
    <div id="info_div" name="response">Response will be placed here on submit.</div>
</form>
{%endif%} 

{% endblock %}
</div>

 <div class="form2">
{% block upload %}
<form2 enctype="multipart/form-data" method="post" name="myform" 
    id="myform" action= "/submitfile/{{instance_id}}/">
    
    <table>
    {{ form.as_table }}
    
    {% for error in form.errors %}
    {{error}}
    {% endfor %}
    
    </table> 
    
    <input type="submit" value="Submit CV" id="upload_btn" />
</form2>
{% endblock %}
<div id="success_div" name="response">Response will be placed here on submit.</div>
</div>
</div>

</body>
</html>
