{%extends 'base.html'%}


{%block content%}
<script>
 window.onload = function () {
 	{% for vacancy in vacancies %}
		var button =  document.getElementById("'{{vacancy.title}}'+'1'");
		button.addEventListener('click', function(){
		    window.location.href = '{% url 'game' slug=vacancy.slug %}'
		});

		var button =  document.getElementById("'{{vacancy.title}}'+'2'");
		button.addEventListener('click', function(){
		    window.location.href = '{% url 'game' slug=vacancy.slug %}'
		});


 	{%endfor%}
 }

</script>

	<div class="page-header">
	  <h1>Spil Games<small>vacancy list</small></h1>
	</div>
	

	<div class="accordion" id="accordion2">
	{% for vacancy in vacancies %}
	

	  <div class="accordion-group">
	    <div class="accordion-heading">
	      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href='#{{vacancy.id}}'>
	        <p>{{vacancy.title}}</p>
	        <p>{{vacancy.pub_date}}</p>
	      </a>
	    </div>
	    <div id='{{vacancy.id}}' class="accordion-body collapse">
	      <div class="accordion-inner">
	      	<button id="'{{vacancy.title}}'+'1'"	type="button" class="btn btn-primary" >Play game</button>
	         <p>{{vacancy.job_description_output|safe}}</p>
	         
			<button id="'{{vacancy.title}}'+'2'" 	type="button" class="btn btn-primary" >Play game</button>

	      </div>
	    </div>
	  </div>
	{%endfor%}

  
	</div>

{% endblock %}



