
<!DOCTYPE html>
<html>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
<body>
<div class="page-header">
	  <h1>Spil Games<small>your profile</small></h1>
	</div>


{% block letters %}

{% if game.player_name != "" %}
    <p> Name : {{ game.player_name }}</p>
    <p> Email : {{ game.player_email}}</p>
{%else%}
	<p> Name : unknown</p>
{%endif%}


<p>Current vacancy :{{ game.get_vacancy }}</p>



{% if game.has_cv == True %}
    <p id="link"> CVlink : <a href={{ game.get_cv_link}}>cv</a></p>
{%else%}
	<p> CVlink : <span class="label label-important">Unknown</span> </p>
{%endif%}


{% if game.has_motivation == True %}
	{% if game.get_motivation_link != False %}
    <p> Motivationlink : <a href={{ game.get_motivation_link}}>motivation</a></p>
	{%else%}
	<p> MotivationEntry :{{ game.get_motivation_entry}}</p>
	{%endif%}
{%else%}
	<p> MotivationLink : <span class="label label-important">Unknown</p>
{%endif%}

{% if game.has_rated_skills == True %}

	<p>Your skills</p>
	 <script type="text/javascript">
	// var names = '{{game.get_all_skills}}';
	// names = names.replace(/&#39;/g,'').replace(/[\[\]']+/g,'').replace(/\s+/g,'','').split(',');
	// var scores = '{{game.get_all_scores}}';
	// scores = scores.replace(/[\[\]']+/g,'').replace(/\s+/g,'').split(',');
	// for(var i = 0;i<names.length;i++)
	// {
	// 	document.write("<p>"+names[i] +" score: "+ scores[i]+"</p>")
	// }

	// </script>
	{% for skill, rating in skills %}
		<p>{{skill}} score: <span class="badge badge-success">{{ rating }}</span></p>
	{% endfor %}
{%else%}
	<p> Skills : <span class="label label-important">Unknown</span></p>
{%endif%}


{% if game.has_links == True %}
	<p> Your links</p>
{% for link  in links %}
	<p><a href= {{link}}>{{link}}</a></p>

{% endfor %}

{%else%}
	<p> Links : <span class="label label-important">Unknown</span></p>
{%endif%}


{% endblock %}
</body>
</html>
